{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_home5.css' %}">
    <title>Página Inicial</title>
  </head>
  <body>
    
    <div class="form">
      <img class="logo" src="{% static 'img/logo1.png' %}">

      <h1>Página Inicial</h1>
      <div class="ul">
        <a href="{% url 'login' %}">Login</a><br><br>
        <a href="{% url 'cadastro' %}">Cadastro</a><br><br>
        <a href="{% url 'ficha:ficha' %}">Cadastrar Pet</a><br><br>
        <a href="{% url 'ficha:lista' %}">Cães cadastrados</a><br><br>
        <a href="{% url 'ficha:puxar_ficha' %}">Procurar Ficha</a><br><br>
        <a href="{% url 'reserva' %}">Nova Reserva Hotel</a><br><br>
        <a href="{% url 'reservaday' %}">Nova Reserva Day Care</a><br><br>
        <a href="{% url 'lista_reserva' %}">Reservas do Hotel em Andamento</a><br><br>
        <a href="{% url 'lista_reservaday' %}">Reservas Day Care em Andamento</a><br><br>
        <a href="{% url 'puxar_reserva' %}">Procurar Reserva Hotel</a><br><br>
        <a href="{% url 'puxar_reservaday' %}">Procurar Reserva Day Care</a><br><br>
        <a href="{% url 'historico_reserva' %}">Historico de Reservas</a><br><br>
        <a href="{% url 'caixa:relatoriocaixa' %}">Gerar Relatório de Caixa</a><br><br>
        <a href="{% url 'logout' %}">Sair</a><br><br>
      </div>

    </div>
      
  </body>
</html>
