<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_listapet1.css' %}">
    <title>Cães Cadastrados</title>
  </head>
  <body>
    <table class="form">
        <thead class="legenda">
          <t  r class="tr">
            <th>Nome do Animal</th>
            <th>Raça</th>
            <th>Nome do Tutor</th>
          </tr>
        </thead>
        <br>
        
        <h1 class='title'>Cães cadastrados</h1>
        <a href="{% url 'home' %}">Home</a>
            <tr>
              {% for cachorro in cachorros %}
              <tr>
              <td class="num">{{ cachorro.nome }} 
              <td >{{ cachorro.raca }} 
              <td>{{ cachorro.nome_tutor}}
              </tr>
              {% endfor %}
            
    </table>
  </body>
</html>