<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_vacina2.css' %}">
    <title>Vacinas</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <h1>Vacinas de {{nome}}</h1>
    <div class='form'>
        <table class="table">
            <thead>
            <tr>
                <th>Nome da vacina</th>
                <th>Data de aplicação</th>
                <th>Data de validade</th>
                <th>Data de reforço</th>
            </tr>
            </thead>
            {% for ani in animal %}
            <tbody> 
                
                <tr>
                    <td>{{ ani.vacina.nome }}</td>
                    <td>{{ ani.data_administracao |date:"d/m/Y"}}</td>
                    <td>{{ ani.vacina.validade |date:"d/m/Y"}}</td>
                    <td>{{ ani.vacina.data_reforco |date:"d/m/Y"}}</td>
                </tr>
                
            </tbody>
            {% endfor %}
        </table>
    </div>  
    
</body>
</html>
