body{
    background-image: url('/static/img/fundo.jpeg');
    background-size: contain;
}
.form{
    height: 900px;
    border: 4px solid black;
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 1%;
    background-color: rgb(231, 141, 130);
    border-radius: 5%;
    flex-direction: column;
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
}
.form a{
    grid-row: auto;
    text-decoration: none;
    color: black;
    margin-bottom: 5%;
}
.logo{
    margin-top: 5%;
    height: 20%;
    margin-left: 40%;
}
.tabela{
    height: 700px;
    width: 600px;
    display: flex;
    
}
.ul{
    text-align: center;
    
}
a{
    border-bottom: 2px solid black;
    margin-top: 5%;
   
}
h1{
    text-align: center;
}

