body{
    background-image: url('/static/img/fundo.jpeg');
    text-decoration: none;
    background-size: contain;
}
.form{
    height: auto;
    border: 4px solid black;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(231, 141, 130);
    border-radius: 5%;
    font-size: x-large;
    display: flex;
    flex-direction: column ;
}  

th{
    border-bottom: 2px solid black;
    padding: 10px;
    flex-grow: 1;
}
td {
    border-bottom: 2px solid black;
    padding: 10px;
    flex-grow: 1;
    padding-left: 15%;

}

th:first-child, td:first-child {
    width: 18   0px; /* Largura fixa para a coluna da reserva */
}

th:not(:first-child), td:not(:first-child) {
    flex-grow: 1; /* Expande as outras colunas para preencher a largura restante */
}

tr {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1{
   text-align: center;
   font-size: 60px;
   color: aqua;
   -webkit-text-stroke: 1px black;

}
