<!DOCTYPE html>
<html>
<head>
    <title>Ficha de Reserva</title>
</head>
<body>
    <h1>Ficha de Reserva</h1>
    <p><strong>Número da Reserva:</strong> {{ reserva.num_reserva }}</p>
    <p><strong>Nome do Pet:</strong> {{ reserva.pet.nome }}</p>
    <p><strong>Nome do Tutor:</strong> {{ reserva.pet.nome_tutor }}</p>
    <p><strong>CPF do Tutor:</strong> {{ reserva.pet.cpf_tutor }}</p>
    <p><strong>Data de Entrada:</strong> {{ reserva.data_entrada }}</p>
    <p><strong>Hora de Entrada:</strong> {{ reserva.hora_entrada }}</p>
    <p><strong>Data de Saída:</strong> {{ reserva.data_saida }}</p>
    <p><strong>Valor Total:</strong> {{ reserva.valor_total }}</p>
    <p><strong>Serviços Adicionais:</strong> {{ reserva.servicos_adicionais }}</p>
    <!-- Adicione outras informações que desejar mostrar -->
</body>
</html>
