<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_lista_reserva2.css' %}">
    <title>Lista Reserva Day Care</title>
  </head>
  <body>
    <table class="form">
      <a href="{% url 'home' %}">Home</a>
        <h1 class='titulo'>Lista Reservas Day Care em Andamento</h1>
        <thead class="legenda">
          <tr class="tr">
            <th>Número da Reserva</th>
            <th>Nome do Animal</th>
            <th>Hora de Entrada</th>
          </tr>
        </thead>
        <br>
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td class='num'><a href="{% url 'caixa:caixaday' num_reserva=reserva.pk %}" class="btn btn-primary">{{ reserva.num_reserva }}</td>
            <td class='nome'>{{ reserva.pet.nome}}</td>
            <td class='entrada'>{{ reserva.hora_entrada }}</td>

          </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
</html>